<p id="notice"><%= notice %></p>

 <div class="room-show-image">

 </div>
<p>
  <strong>ユーザー名</strong>
  <%= @user.name %>
</p>

<p>
  <strong>profile</strong>
  <%= @user.profile %>
</p>


<%= link_to 'Edit', profiles_path(@user) %> 

<hr>


<%= link_to 'Back', dogruns_path %>
