<div class="profile-content-edit">     
  <div class="profile-edit">
    <div class="title-text-box">
      <div class="title-text">
        <p>
          <span class="word wisteria">PROFILE!</span>
          <span class="word belize">PROFILE!</span>
          <span class="word pomegranate">PROFILE!</span>
          <span class="word green">PROFILE!</span>
          <span class="word midnight">PROFILE!</span>
        </p>
      </div>
    </div>
    <div class = "profile-link-box">
      <div class = "profile-link-area">
        <div class= "profile-link">             
          <%= link_to "設定ページ", edit_user_registration_path(current_user) ,class: "profile-link-text"%>
        </div>
        <div class="profile-link">             
          <%= link_to profiles_path ,class: "profile-link-text" do %>
            登録済み<br>ドッグラン
          <% end %>
        </div>
        <div class="profile-link">             
          <%= link_to  "/comments/" ,class: "profile-link-text" do %>
          登録済み<br>コメント
          <% end %>
        </div>
        <div class="profile-link">             
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: "profile-link-text"%>
        </div>
      </div>
    </div>

    <br>
    <div id="profile-user-name">
      <%= current_user.name %>
    </div>
    <br>
      <div class="field">
        <% if current_user.image.attached?%>
          <%= image_tag @user.image,class:'profile-user-image' %>
        <% else %>
          <% image_tag 'no-image.user.png',class:'profile-user-image' %>
        <% end %>   
      </div>
  </div>
</div>
