<p id="notice"><%= notice %></p>

<p>
  <strong>Contents:</strong>
  <%= @comment.contents %>
</p>

<p>
  <strong>Dogrun:</strong>
  <%= @comment.dogrun_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @comment.title %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
