<p id="notice"><%= notice %></p>
<h1 class = "page-title">DOGRUNs一覧</h1>

<div class="top_area">
  <div class="background-photo">
    <div class="search-box"><!--検索フォーム-->
      <div class="search-text">
        <h5>住所・キーワードで探す</h5>
      </div>
      <div class = "dogrun-search-area">
        <%= search_form_for @q, url: search_dogruns_path do |f| %>
          <%= f.search_field :dogrun_name_or_address_or_area_cont ,placeholder: "キーワード検索" %>
          <%= f.submit '検索' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="second_area">
  <h2>おすすめエリア</h2>
  <div class="city_area">

    <div class="city">
      <div class = "tokyo-area">
        <a href="http://localhost:3000/dogruns/search?q%5Bdogrun_name_or_address_or_area_cont%5D=%E5%8C%97%E6%B5%B7%E9%81%93%E6%9D%B1%E5%8C%97&commit=%E6%A4%9C%E7%B4%A2" ><img src='https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg'></a>
        <h5>北海道<br>東北</h5>
      </div>
      <div class = "tokyo-area">
        <a href="http://localhost:3000/dogruns/search?q%5Bdogrun_name_or_address_or_area_cont%5D=%E6%9D%B1%E4%BA%AC&commit=%E6%A4%9C%E7%B4%A2" ><img src='https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg'></a>
        <h5>関東</h5>
      </div>
      <div class = "tokyo-area">
        <a href="http://localhost:3000/dogruns/search?q%5Bdogrun_name_or_address_or_area_cont%5D=%E4%B8%AD%E9%83%A8&commit=%E6%A4%9C%E7%B4%A2" ><img src='https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg'></a>
        <h5>中部</h5>
      </div>
      <div class = "tokyo-area">
        <a href="http://localhost:3000/dogruns/search?q%5Bdogrun_name_or_address_or_area_cont%5D=%E8%BF%91%E7%95%BF&commit=%E6%A4%9C%E7%B4%A2" ><img src='https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg'></a>
        <h5>近畿</h5>
      </div>
      <div class = "osaka-area">
        <a href="http://localhost:3000/dogruns/search?q%5Bdogrun_name_or_address_or_area_cont%5D=%E4%B8%AD%E5%9B%9B%E5%9B%BD&commit=%E6%A4%9C%E7%B4%A2" ><img src='https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg'></a>
        <h5>中国<br>四国</h5>
      </div>
      <div class = "tokyo-area">
        <a href="http://localhost:3000/dogruns/search?q%5Bdogrun_name_or_address_or_area_cont%5D=%E4%B9%9D%E5%B7%9E%E6%B2%96%E7%B8%84&commit=%E6%A4%9C%E7%B4%A2" ><img src='https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg'></a>
        <h5>九州<br>沖縄</h5>
      </div>
    </div>
  </div>
</div>
  
<br>
<hr>
<br>
<h1>新着登録ドッグラン</h1>
<div class="index-area">
  <div class="index-area-box">
    <table>
      <tbody>
        <% @dogruns.each do |dogrun| %>
          <tr>
            <td><%= image_tag dogrun.image ,class: 'dogrun-image' %></td>
            <td class='dogrun-index-name'><%= dogrun.dogrun_name %></td>
            <td class='dogrun-index-area'><%= dogrun.area %></td>
            <td class='dogrun-index-link'><%= link_to 'クリック', dogrun %></td>
            <td class='dogrun-index-address'><%= dogrun.address %></td>
            
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<hr>

<p id="notice"><%= notice %></p>

<h1>投稿一覧</h1>
<div class="index-comment-area">
  <div class="index-comment-box">
    <table>  
      <tbody>

        <% @comments.each do |comment| %>
        <div>
          <tr>
            <td>
            <% if comment.user.image.attached? %>
              <%= image_tag comment.user.image ,class: 'comment-user-image' %>
            <% else %>
              <%= image_tag 'no-image.user.png' ,class: 'comment-user-image'%>
            <% end %>
            <td><%= comment.user.name %></td>
            <td><%= comment.dogrun.dogrun_name %></td>
            <br>
            <td><%= comment.title %></td>
            <td><%= comment.contents %></td>
            <td><%= comment.dogrun.dogrun_name %></td>
            
            <td><%= link_to 'Show', comment %></td>
            </tr>
        <% end %>
        </div>
      </tbody>
    </table>
  </div>
</div>

<br>
<%= link_to 'ページTOPへ戻る', dogruns_path %>


