<h3 class = "top-welcome">Welcome to this page!</h3>
<h1 class = "page-title">DOGRUNs NAVI</h1>
   <!--一覧リンク-->
   <div>
        <%= link_to dogruns_path  do %>  
            <div class = "rolling-text">Search</div>
        <% end %>  
        <%= link_to dogruns_path  do %>  
            <div><%= image_tag 'hokkaido_tohoku.jpg' %> </div>
        <% end %>   
    <div>
    <!--登録リンク-->
    <div>
        <%= link_to new_dogrun_path do %>
            <div class = "rolling-text">Create</div>
        <% end %>
         <%= link_to new_dogrun_path  do %>  
            <div><%= image_tag 'hokkaido_tohoku.jpg' %> </div>
        <% end %> 
    </div>

<%= javascript_pack_tag 'dogruns/top' %>
